.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    text-align: center;
    table-layout: fixed;
}

.table > thead, .table > tbody {
    border-bottom: 1px solid rgb(141, 141, 141);
}

.table > thead {
    background-color: rgb(213, 232, 238);
}

.table > tbody > tr:nth-child(odd) {
    background-color: rgb(243, 252, 255);
}

.table > tbody > tr:nth-child(even) {
    background-color: rgb(227, 237, 240);
}

.table th, .table td {
    padding: 5px 5px;
}

.borderRight {
    border-right: 1px dotted rgb(141, 141, 141);;
}

.active {
    color: inherit;
}

.inactive {
    color: red;
}

/* Extra styles for Exercise Two */
tfoot td {
    text-align: right;
}