.form .formRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
  
.form .formRow > * {
    flex-grow: 1;
}

.form .formRow > label {
    text-align: right;
    margin-right: 10px;
    flex-basis: 150px;
    flex-grow: 0;
}